/* font import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quicksand-semi-bold {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
}

.quicksand-bold {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
}

/* colors */
.white {
    color: #ffffff;
}

.orange {
    color: #FEA301;
}

.sky-blue {
    color: #01ACFD;
}

.vivid-sky-blue {
    color: #05D4DF;
}

.cornflower-blue {
    color: #5D58EF;
}

.white {
    color: #ffffff;
}

.p-black {
    color: #111111;
}

.bg-orange {
    background-color: #FEA301;
}

.bg-black {
    background-color: #000000;
}
.bg-grad-vivid-sky{
    background-image: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
}
.bg-grad-orange{
    background-image: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
}
.bg-grad-purple{
    background-image: linear-gradient(to bottom, #EEE1FF, #FFFFFF);
}
/* display styles */
body {
    /* max-width: 1400px; */
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 1em auto;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-left>.h1 {
    font-size: 2em;
    color: black;

}

.nav-center {
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav-center>a {
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.2s;
}

.nav-center>a:hover {
    width: 140px;
    height: 70px;
    border-radius: 10px;
    background-color: #FEA301;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.1);
}

.nav-btn {
    width: 250px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.1);
}

.nav-right .icon {
    display: none;
}

.banner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banner-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    max-width: 780px;
}

.banner-title {
    font-size: 3em;
}

.banner-description {
    font-size: 1.5em;
}

.banner-btn {
    width: 250px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.banner-btn:hover {
    background-color: #FEA301;
    color: #ffffff;
    transform: scale(1.1);
}

.nav-right>.nav-btn>.h1 {
    font-size: 2em;
}

.nav-right .icon i {
    font-size: 30px;
    /* Adjust this value to change the size */
}

.nav-small-screen-line {
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
}

.standard-curriculum {
    max-width: 1400px;
    margin: 0 auto;
    background-image: url(../assets/bg.png);
    height: 1100px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title {
    font-size: 3.5em;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: 1.3em;
}
.sc-card-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
}

.standard-curriculum-card{
    padding-top: 2em;
    padding-bottom: 3em;
    /* margin-top: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 400px;
    height: 500px; */
    border-radius: 10px;

}
.border-vivid{
    border:2px solid #DEF5FF;
}
.border-orange{
    border:2px solid #FFF4DC;
}
.border-purple{
    border:2px solid #EEE1FF;
}
.standard-curriculum-card > img{
    width: 150px;
}
.sc-card-title{
    margin: 1em auto;
    font-size: 2em;
    color: #000000;
    text-align: center;
}
.sc-card-p{
    padding:10px;
    text-align: center;
    color: #808080;
}
.sc-card-link{
    margin-top: 30px;
    font-size: 1em;
    text-align: center;
}
.standard-curriculum-card > a{
    text-decoration: none;
}
@media screen and (min-width: 601px) {
    .nav-small-screen-line {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .nav {
        margin: 10px auto;
        max-width: 90vw;
        justify-content: space-between;
        margin: none;
    }


    .nav-center {
        display: none;
    }

    .nav-right>.nav-btn {
        display: none;
    }

    .nav-right a.icon {
        display: block;
        float: right;
        margin-right: 10px;
        margin-top: 20px;
    }

    .nav-center.responsive {

        margin-top: 50px;
        margin-left: calc(100% - 370px);
        display: flex;
        flex-direction: column;
        gap: 2px;
        position: relative;
        padding:none;
        margin: none;
        align-items: start;

    }

    .nav-center.responsive>a {
        align-items: center;
        width: 140px;
        height: 70px;
        background-color: #000000;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav-center.responsive>a:hover {
        border-radius: none;
        background-color: #FEA301;
        transform: scale(1.1);
    }
    /* .nav-small-screen-line.responsive {
        margin-top: 300px;
        padding-top: 300px;
    } */

    .banner {
        flex-direction: column-reverse;
        max-width: 90vw;
    }

    .banner-title,
    .banner-description {
        text-align: center;
    }

    .banner-btn {
        margin: auto;
    }

    .banner-img {
        margin: auto;
        margin-bottom: 1em;
    }
    .standard-curriculum {
        max-width: 90vw;
    }
    .sc-card-group{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 1em; */
    }

}